[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pysimplegui = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
run = "python3 run.py"
dev = "python3 run.py --dev"
