[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pysimplegui = "*"
pillow = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python3 PDF-Ripper.py"
dev = "python3 PDF-Ripper.py --dev"
export = "pyinstaller --onefile --windowed --noconfirm --icon=media/icon.ico --add-data media:media PDF-Ripper.py"
exportwindows = "pyinstaller --onefile --windowed --noconfirm --icon=media/icon.ico --add-data media;media PDF-Ripper.py"